*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    font-family: Poppins;
}
.heading{
    margin-top: 2%;
    text-align: center;
}
.genres{
    display: flex;
    gap: 15px;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 5%;
}
.genres select{
    border-radius: 5px;
    font-weight: 550;
    border: 1px solid;
}
.movies{
    display: block;
}
.drama , .comedy, .action{
    height: 80px;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    margin-bottom: 2%;
    box-shadow: 2px 2px 2px darkgray;
}
.comedy h2,p{
    margin-left: 5%;
    font-weight: 500px;
}
.action h2,p{
    margin-left: 5%;
    font-weight: 500px;
}
.drama h2,p{
    margin-left: 5%;
    font-weight: 500px;
}